@tailwind base;
@tailwind components;
@tailwind utilities;

@import "tailwindcss";

/* Preline UI */
@import "../../node_modules/preline/variants.css";
@source "../../node_modules/preline/dist/*.js";

/* Plugins */
/* @plugin "@tailwindcss/forms"; */

/* Preline Themes */
@import "./themes/theme.css";
